body {
    background: #0A2314;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
