:root {
    --cursor-left: 12px;
    --zone-label-color: #c49799;
    --yo-green: #9FFF82;
    --yo-light-green: #CFDF82;
    --yo-dark-green: #092313;
    --yo-purple: #8666D5;
    --yo-rose: #c2b4bb;
    --yo-blue: #99d5ff;
    --yo-shade-blue: #AFD0D6;
    --yo-dark-rose: #C49799;
    --yo-light: #CCCCCC;
    --yo-ticket-green:#9FFF82;
}

body {
    /* font-family: 'Jersey 25', sans-serif; */
    background: #000000;
}


.app-main-loading{
    padding-top: 70px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

